// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
$base-url: "./assets/" !default;
$image-url: "./assets/images/" !default;
$font-url: "./assets/fonts/" !default;

:root {
    --maroon: #841d26;
    --bs-border-radius: 5px;
    --bs-border-color: #cdcdcd;
}
