.swiper-slider-holder {
    .swiper-pagination-holder {
        position: absolute;
        bottom: 50px;
        left: 0;
        right: 0;
        z-index: 1;
        .swiper-pagination {
            display: flex;
            gap: 40px;
            align-items: center;
            position: static;
            --swiper-pagination-bullet-height: 4px;
            --swiper-pagination-bullet-border-radius: 0;
            --swiper-pagination-bullet-inactive-color: var(--bs-white);
            --swiper-pagination-bullet-inactive-opacity: 0.25;
            --swiper-pagination-bullet-opacity: 1;
            --swiper-pagination-color: var(--maroon);
            .swiper-pagination-bullet {
                flex: 1 0 0%;
            }
        }
    }
}

.listings-style-1 {
    .swiper-listings-taxonomy {
        .swiper-slide {
            width: 230px;
            .image-box {
                padding: 50% 0;
                img {
                    object-fit: contain;
                }
            }
        }
    }
}

.listings--posts {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
    height: 0;
    overflow: hidden;
    @include transition(400ms);
    &.active {
        height: var(--height);
    }
}
