.swiper-slider-holder {
    .swiper-pagination-holder {
        position: absolute;
        bottom: 50px;
        left: 0;
        right: 0;
        z-index: 1;
        .swiper-pagination {
            display: flex;
            gap: 40px;
            align-items: center;
            position: static;
            --swiper-pagination-bullet-height: 4px;
            --swiper-pagination-bullet-border-radius: 0;
            --swiper-pagination-bullet-inactive-color: var(--bs-white);
            --swiper-pagination-bullet-inactive-opacity: 0.25;
            --swiper-pagination-bullet-opacity: 1;
            --swiper-pagination-color: var(--maroon);
            .swiper-pagination-bullet {
                flex: 1 0 0%;
            }
        }
    }
}

.listings-style-1 {
    .swiper-listings-taxonomy {
        .swiper-slide {
            width: 280px;
            .logo-box {
                img {
                    height: 18px;
                    object-fit: contain;
                    width: auto;
                }
            }
            .listings--inner {
                cursor: pointer;
                position: relative;
                .listing--model-link {
                    position: absolute;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 1;
                }
                &.active {
                    background-color: var(--lightgray-2);
                }
                &.has-model-layout {
                    @include responsive(md-lg) {
                        .listing--model-link {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

.listings--posts {
    display: none;
    //  height: 0;
    overflow: hidden;
    &.active {
        //height: var(--height);
        display: block;
    }
}

.cover-style-1 {
    .wp-block-cover__inner-container {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: var(--md-spacing);
        padding-bottom: var(--md-spacing);
    }
}

.listing--features {
    border-top: 1px solid var(--dark);
    li {
        border-bottom: 1px solid var(--dark);
    }
}
