#masthead {
    z-index: 9999;
    &.header-transparent {
        position: absolute;
        left: 0;
        right: 0;
        top: var(--admin-bar-height);
    }
    &.header-default {
        .menu-burger .bar {
            background-color: var(--bs-black);
        }
        & + #main {
            margin-top: 0;
        }
    }
}
.menu-burger {
    --burger-width: 40px;
    --burger-height: 25px;
    --bar-height: 3px;
    border: none;
    background-color: transparent;
    padding: 0;
    position: relative;
    color: currentColor;
    outline: none;
    height: var(--burger-height);
    width: var(--burger-width);
    .bar {
        background-color: currentColor;
        height: var(--bar-height);
        width: var(--burger-width);
        display: block;
    }
    @include responsive(xs-md) {
        width: 30px;
        height: 25px;
    }
    @include responsive(xs-sm) {
        width: 25px;
        height: 20px;
    }
}

#offCanvasMenu {
    .listings--inner {
        padding: 0 !important;
        .logo-box {
            img {
                height: 18px;
                width: auto;
                object-fit: contain;
            }
        }
        .model-num {
            display: inline-block !important;
            background-color: var(--bs-white);
            padding: 5px;
            font-size: 13px;
            svg {
                display: none;
            }
        }
    }
}
