
#masthead {
    position: sticky;
    top: var(--admin-bar-height);
    z-index: 9999;
}
.menu-burger {
    --burger-width: 37px;
    --burger-height: 28px;
    --bar-height: 4px;
    border: none;
    background-color: transparent;
    padding: 0;
    position: relative;
    color: currentColor;
    outline: none;
    height: var(--burger-height);
    width: var(--burger-width);

    .bar {
        background-color: currentColor;
        height: var(--bar-height);
        width: var(--burger-width);
        display: block;
    }
    @include responsive(xs-md) {
        width: 30px;
        height: 25px;
    }
    @include responsive(xs-sm) {
        width: 25px;
        height: 20px;
    }
}