.offcanvas-form--form-fields {
    padding: 30px;

    .form-control {
        background-color: var(--lightgray-color-4);
        border: none;
    }
}

.gallery-row {
    @include responsive(xs) {
        --bs-gutter-x: 5px;
        --bs-gutter-y: 5px;
    }
}

#gallery-tab-pane {
    @include responsive(mobile) {
        margin-left: -1rem;
        margin-right: -1rem;
    }
}

.listing-inner--mobile-sticky {
    z-index: 999;
    left: 0;
    right: 0;
    box-shadow: 0px -5px 16px #0000001F;
}

.delear-details {
    .logo-box {
        img {
            max-width: 140px;
        }
    }
}