.offcanvas-form--form-fields {
    padding: 30px;

    .form-control {
        background-color: var(--lightgray-color-4);
        border: none;
    }
}

.gallery-row {
    @include responsive(xs) {
        --bs-gutter-x: 5px;
        --bs-gutter-y: 5px;
    }
}

#gallery-tab-pane {
    @include responsive(mobile) {
        margin-left: -1rem;
        margin-right: -1rem;
    }
}

.listing-inner--mobile-sticky {
    z-index: 999;
    left: 0;
    right: 0;
    box-shadow: 0px -5px 16px #0000001f;
}

.delear-details {
    .logo-box {
        img {
            max-width: 140px;
        }
    }
}

.dealer--locator--holder {
    .dealer--locator {
        .wpsl-search {
            background-color: transparent;
        }
        #wpsl-wrap {
            .wpsl-search {
                padding-left: 12px;
                padding-right: 12px;
                @media (min-width: 1500px) {
                    max-width: 1420px;
                }

                @media (min-width: 1600px) {
                    max-width: 1520px;
                }

                @media (min-width: 1700px) {
                    max-width: 1620px;
                }

                @media (min-width: 1800px) {
                    max-width: 1720px;
                }
                #wpsl-search-wrap {
                    form {
                        display: flex;
                        > div {
                            float: none;
                            display: flex;
                        }
                    }
                }
            }
            #wpsl-gmap {
                background-color: var(--wp--preset--color--lightgray-2);
            }
        }
    }
}
