.offcanvas-form--form-fields {
    padding: 30px;

    .form-control {
        background-color: var(--lightgray-color-4);
        border: none;
    }
}

.gallery-row {
    @include responsive(xs) {
        --bs-gutter-x: 5px;
        --bs-gutter-y: 5px;
    }
}

#gallery-tab-pane {
    @include responsive(mobile) {
        margin-left: -1rem;
        margin-right: -1rem;
    }
}

.listing-inner--mobile-sticky {
    z-index: 999;
    left: 0;
    right: 0;
    box-shadow: 0px -5px 16px #0000001f;
}

.delear-details {
    .logo-box {
        img {
            max-width: 140px;
        }
    }
}

.dealer--locator--holder {
    .dealer--locator {
        .wpsl-search {
            background-color: transparent;
        }
        #wpsl-wrap {
            margin: 0;
            .wpsl-search {
                padding-left: 12px;
                padding-right: 12px;
                margin-left: auto;
                margin-right: auto;
                @media (min-width: 1500px) {
                    max-width: 1420px;
                }

                @media (min-width: 1600px) {
                    max-width: 1520px;
                }

                @media (min-width: 1700px) {
                    max-width: 1620px;
                }

                @media (min-width: 1800px) {
                    max-width: 1720px;
                }
                #wpsl-search-wrap {
                    margin-bottom: 30px;
                    div {
                        display: flex !important;
                        gap: 10px;
                        margin: 0;
                    }
                    form {
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;
                        gap: 10px;
                        > div {
                            float: none;
                            display: flex;
                            align-items: center;
                            gap: 10px;
                        }

                        div label {
                            width: auto;
                            margin: 0;
                        }
                        .wpsl-input {
                            margin: 0;
                            input {
                                border-radius: 0;
                            }
                        }
                        .wpsl-dropdown {
                            width: auto;
                            .wpsl-selected-item {
                                border-radius: 0;
                            }
                        }
                        .wpsl-select-wrap {
                            margin: 0;
                        }
                        #wpsl-search-btn {
                            background-color: var(--wp--preset--color--maroon) !important;
                            background-image: none;
                            border-radius: 0;
                            border: none;
                            color: #fff;
                            padding: 10px 20px;
                        }
                        #wpsl-radius {
                            margin: 0;
                        }
                    }
                }
            }
            #wpsl-result-list {
                background-color: var(--wp--preset--color--lightgray-2);
                margin: 0;

                width: 33.5%;
                #wpsl-stores {
                    padding-top: 40px;
                    padding-bottom: 40px;
                    max-height: 800px;
                    overflow: auto;
                    max-width: 540px;
                    margin-left: auto;
                }
            }
        }
    }
}
